@charset "utf-8";
/* front-page用 style sheet*/
/* reset */
body{position:absolute;left:0;top:0;width:100%}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio[controls],canvas,video{display:inline-block;zoom:1}html{-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:88%}blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,p,pre,td,textarea,th,ul{margin:0;padding:0}a,a:active,a:link,a:visited{text-decoration:underline;color:#0085cd;outline:0}a:hover{color:#215b7a;text-decoration:none}a:active,a:focus,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ol,ul{margin:0;padding:0}dd{margin:0}nav ol,nav ul{list-style:none}img{-ms-interpolation-mode:bicubic;vertical-align:bottom}svg:not(:root){overflow:hidden}figure,form{margin:0}fieldset{margin:0 2px;padding:.35em .625em .75em}legend{border:0}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}input[type=checkbox],input[type=radio]{box-sizing:border-box}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;outline:0}table{border-collapse:collapse;border-spacing:0}body,textarea{font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;font-size:100%;line-height:100%;color:#000}input,select{font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;outline:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}abbr,acronym,fieldset,img{border:0}li{list-style:none}
body{
  background: #fff;
}
.wrapper {
  min-width: 1000px;
}
/*
header ======================= */
haeder {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  min-width: 1000px;
}
.globalnav {
  float: right;
  margin-right: 50px;
}
.globalnav ul li {
  display: inline-block;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  width: 150px;
  height:35px;
}
